.edit_place{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.box_edit_place{
    margin:20px 10px;
    padding:20px;
    width: 30%;
    background-color: #fafafa;
}
.box_edit_place .input_text {
    display: flex;
    flex-direction: column;
}
.box_btn_edit{
    display: flex;
    justify-content: flex-end;
}
.btn_edit_place{
    margin:5px;
    padding:5px;
}
.section_image_editplace{
    width: 65%;
}
.section_image_editplace h3{
    margin:20px;
}
.section_image_editplace h1{
    text-align: center;
}
.button_add_image{
    background-color: #23e415;
    color:white;
    padding: 5px;
    height: max-content;
    align-items: center;
}
.header_add_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.box_edit_image_place{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
}
.expanded_image{
    width: 80%;
    
    position: relative;
    background-color: rgb(78, 72, 72);
}
.expanded_image .image{
    height: 500px;
    width: 100%;
    justify-content: center;
    object-fit: contain;
}
.btn_delete_img{
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.list_image{
    width: 15%;
    background-color: #fafafa;
}
.list_image img{
    width: 100%;
    object-fit: contain;
    margin: 10px 0px;
    cursor: pointer;
}
.box_image_inmodal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box_image_inmodal .image_inmodal{
    width: 45%;
    margin: 10px;
    object-fit: contain;
}