/*card info trip */
.card-info-trip-edittrip{
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 15px;
}
/* btn remove*/
.container-btn-remove-item-place-tripdetail-edittrip{
    border-radius: 50%;
    height: 5vh;
    width:5vh;
    background-color: red;
    margin-right: 10px;
}
.text-btn-remove-item-place-tripdetail-edittrip{
    color: white;
    font-size: 23px;
}
/* edit btn */
.container-btn-edit-item-place-tripdetail-edittrip{
    border-radius: 50%;
    height: 5vh;
    width:5vh;
    margin-right: 5px;
    background-color: green;
    display:flex;
    justify-content:center;
    align-items: center;
}
.text-btn-edit-item-place-tripdetail-edittrip{
    color: white;
    font-size: 23px;
}
