.containerWithsideBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255 251 251 / 96%);
    
}

.container-manager{
    width: 70%;
   margin-right:150px;
    height: 740px;
    background-color: rgb(255 251 251 / 96%);

}

.container-edit{
    width: 75%;
    margin-left:300px

}

.container-edit-service{
    width: 80%;
   margin-left:240px;
   margin-right:15px
}
.container_tabbar_PM{
    width:40%;
}
.title{
    text-align: center;

}
/* Css cho table */

table, th, td{
    border:1px solid #868585;
}
table{
    margin: 20px auto;
    border-collapse:collapse;
    width: 100%;
}
td,th{
    text-align: left;
    padding: 10px 20px;
}
table tr:nth-child(odd){
    background-color: antiquewhite;
}

table th{
    background-color:skyblue;
}
.box_button_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_add{
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23e415;
    border-radius: 8px;
    right: 0px;
}
.action_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_action{
    height: 30px;
    width: 30px;
    justify-content: center;
    
}
.btn_action svg{
    vertical-align: top;
}
.button_edit{
    margin: 5px;
    padding: 5px;
    font-size: medium;
    color:blue;
}
.button_commment{
    margin: 10px;
    padding: 5px;
    font-size: medium;
    color:rgb(46, 2, 41);
}

.button_enable{
    padding: 5px;
    font-size: medium;
    color: green;
}
.button_disable{
    padding: 5px;
    font-size: medium;
    color: red;
}


.thead-table-place, .tbody-place-management tr, .tbody-place-management th{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.tbody-place-management tr{
    width: calc( 100% + 0.98em );
}
.tbody-place-management{
    display: block;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}