.container{
    width: 90%;
    margin:auto;
    padding-left: 11%;
}
.title{
    text-align: center;

}
/* Css cho table */

table, th, td{
    border:1px solid #868585;
}
table{
    margin: 20px auto;
    border-collapse:collapse;
    width: 100%;
}
td,th{
    text-align: left;
    padding: 10px 20px;
}
table tr:nth-child(odd){
    background-color: antiquewhite;
}

table th{
    background-color:skyblue;
}
.box_button_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_add{
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23e415;
    border-radius: 8px;
    right: 0px;
}
.action_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_action{
    height: 30px;
    width: 30px;
    justify-content: center;
    
}
.btn_action svg{
    vertical-align: top;
}
.button_edit{
    margin: 10px;
    padding: 5px;
    font-size: medium;
    color:blue;
}

.button_enable{
    padding: 5px;
    font-size: medium;
    color: green;
}
.button_disable{
    padding: 5px;
    font-size: medium;
    color: red;
}
