.box_search{
    display: flex;
    margin-top: 50px;
    width: 50%;
    border: 3px solid #a9a9a9;
    border-radius: 10px;
    height: 40px;
}
.box_search .icon{

    margin:auto
}
.box_search .input_search{
    border: pink;
    margin-right: 5px;
    width: 90%;
    outline: none;
}