
/* //login.js */
.containerLogin {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background-color: #87ceeb;
}

.login-title {
  justify-content: center;

  align-items: center;
  font-family: Monospace;
  font-size: 25px;
  font-weight: bold;
}
.login-title-input{
  font-size: 16px;
  font-weight: bold;
}
.login-form {
  margin-top: 10px;
  /* padding: 60px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-container {
  display: flex;
  justify-content: center;
}
.SignButton{
  background-color: #00b36b;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.combobox-signup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: 400px;
  /* height: 200px; */
}

.signUpSentense {
  margin-top: 20px;
}
.error-font{
  color: red;
  font-size: 13px;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

/* .list-container {
  display: flex;
} */

/* .error {
  color: red;
  font-size: 12px;
} */

/* .title {
  font-size: 25px;
  margin-bottom: 20px;
} */


/* landing.js */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #4747d1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.top-right-login {
  position: fixed; /* the fixed pos makes it work */
  right: 20px/*how much you want to move it right 
    put % or px or rem at end of the amount */;
}
.top-right-signUp {
  position: fixed; /* the fixed pos makes it work */
  right: 120px/*how much you want to move it right 
    put % or px or rem at end of the amount */;
}


.top-left-home {
  position: fixed; /* the fixed pos makes it work */
  left: 20px/*how much you want to move it right 
    put % or px or rem at end of the amount */;
}
.top-left-information {
  position: fixed; /* the fixed pos makes it work */
  left: 140px/*how much you want to move it right 
    put % or px or rem at end of the amount */;
}
/* Add a color to the active/current link */
.center-logolanding{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerlanding{
  /* display: flex;
  flex-direction: column; */

  min-height: 300vh;
  background-color: #87ceeb;
}
.center-titlelanding{
  position: fixed;
  top: 95%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  /* font-size: 100; */
}

.center-Buttonlanding{
  width: 200px;
  float: left;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 53%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  /* font-size: 100; */
}


.button-landing-down{
  font-size: 15px;
  font-weight: bold;
  padding:5px;
  border-radius: 5px;
  background-color: rgb(52, 174, 47);

}

.button-landing-down:hover{
  background-color: #b3cccc;
  text-decoration: blue;
  
}
.button-landing-help{
  font-size: 15px;
  font-weight: bold;
  padding:5px;
  border-radius: 5px;
  background-color: #ff4d4d;

}

.button-landing-help:hover{
  background-color: #ffb3b3;
  
}



